{
  "presets": [
    ["env", {
      "modules": false,
      "loose": true
    }],
    "react"
  ],
  "plugins": [
    "transform-class-properties",
    ["transform-react-remove-prop-types", { "mode": "wrap" }]
  ],

  "env": {
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    },
    "rollup": {
      "plugins": [
        "external-helpers"
      ]
    }
  }
}
