and_chr 92
and_chr 91
and_ff 90
and_ff 89
and_qq 10.4
and_uc 12.12
android 92
android 91
baidu 7.12
chrome 92
chrome 91
chrome 90
edge 92
edge 91
firefox 90
firefox 89
firefox 78
ios_saf 14.5-14.7
ios_saf 14.0-14.4
ios_saf 13.4-13.7
kaios 2.5
op_mini all
op_mob 77
op_mob 76
opera 77
opera 76
safari 14.1
safari 14
samsung 14.0
samsung 13.0
