language: node_js
os: linux
dist: bionic
jobs:
  include:
    - name: Test on stable Node.js
      node_js: stable
      script: npm run test:unit
    - name: Test on Node.js 12
      node_js: 12
      script: npm run test:unit
    - name: Test on Node.js 10
      node_js: 10
      script: npm run test:unit
    - name: Test typings
      node_js: lts/*
      script: npm run test:types
    - name: Check linting
      node_js: lts/*
      script: npm run lint
